<h1>Edit <%= @pet.name %></h1>
<h3><%= link_to "View All Pets", "/pets" %></h3>

<%= form_tag "/pets/#{@pet.id}", method: :patch do %>
  <%= label_tag :image_link %>
  <%= text_field_tag :image %>
  <br>
  <%= label_tag :name %>
  <%= text_field_tag :name %>
  <br>
  <%= label_tag :description %>
  <%= text_field_tag :description %>
  <br>
  <p>Enter age with months or years included. For example, 2 months old, 3 years old</p>
  <%= label_tag :approximate_age %>
  <%= text_field_tag :approximate_age %>
  <br>
  <%= label_tag :sex %>
  <%= text_field_tag :sex %>
  <br>
  <%= submit_tag "Update Pet" %>
<% end %>
