<h1> <%= @pet.name %></h1>

 <p><%= image_tag(@pet.image, id: "pet-image-#{@pet.id}") %></p>
 <p>Age: <%= @pet.approximate_age %></p>
 <p>Sex: <%= @pet.sex %></p>
 <p>Description: <%= @pet.description %></p>
 <p>Available for Adoption?: <%= @pet.available_for_adoption %></p>
 <p>Come today and adopt from: <%= @pet.shelter.name %></p>
 <%= link_to "Update Pet", "/pets/#{@pet.id}/edit", method: "get" %>
 <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: "delete" %>
